{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

<div class=" text-center mt-8 lt-8">
<div class="container-account">
<h1> Mon compte </h1>

<p> Bienvenue  <strong> {{ app.user.firstname}}. </strong> </br> c'est dans cet espace que vous pouvez gérez toutes vos infos. </p>

</div>
<div class="card-deck">
{% if is_granted('ROLE_ADMIN')%}


<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><a href="/admin"> <strong> Accéder au panel administrateur </strong> </a> <br>

 </a> 
</h5>
      <p class="card-text"><small class="text-muted">accès au back-office</small></p>
    </div>
  </div>

{% endif %}

 <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ path('account_password') }}"> Modifier mon mot de passe </a> 
</h5>
      <p class="card-text"><small class="text-muted">modifier vos coordonnés</small></p>
    </div>
  </div>
   <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ path('account_definition') }}"> Gérer mes Définitions </a> 
 </a> 
</h5>
      <p class="card-text"><small class="text-muted">ajouter supprimer updater des définitions</small></p>
    </div>
  </div>
</div>
</div>

{% endblock %}
