{% extends 'base.html.twig' %}

{% block content %}

  <header class="masthead text-center text-white">
    <div class="masthead-content">
    
      <div class="container">
        <h1 class="masthead-heading ">Hello Dev !</h1>
        <h2 class="masthead-subheading "> Vous êtes sur dévinition, le vocabulaire des dév web junior</h2>

        <a href="{{ path('definition')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Go apprendre</a>
                          <img />

      </div>

    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class=" rounded  rounded-circle" src="/assets/img/01.jpeg" width="200px" height="200px" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Etudiants en développement</h2>
<p> Vous avez besoin de la définition d'un terme technique, d'un métier que vous avez vu passer quelque part, notre but est de rassembler toutes ces informations en français et pour vous </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class=" rounded rounded-circle" src="/assets/img/02.jpeg"  width="200px" height="200px" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Un outils collaboratif !</h2>
<p> Vous pouvez vos inscrire et participer au projet, nous serons ravis d'enrichir notre base de connaissance. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="rounded rounded-circle" src="/assets/img/03.jpeg"  width="200px" height="200px" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Un concentré de savoir</h2>
            <p> Nous regroupons des définitions qui viennent de partout sur internet, vous pourez retrouver tout les crédits et sources correspondantes à chaque fois. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<main role="main">

   </div>
{% endblock %}