* {
    margin: 0;
    padding: 0;
}

main {

min-height: 900px;

}

/** FORM **/

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.card-def {
    width: 400px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px
}


  input[type='checkbox'] {
    display: none;
  }
  
  /* Flip Cards CSS */

  .container-def {
      display: flex;
      flex-direction: row;
    
  }

  .card-container {
    display: flex;
    perspective: 700px;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    border: solid orange 1px;

    padding: 1%;
    margin:1%;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }
  
  input[type='checkbox']:checked + .card-container .card-flip {
    transform: rotateY(180deg);
  }
  
 
  .container-account {
    margin: 2%;
    padding: 2%;
  }

  .container-password {
    margin: 1%;
  }


  .card {
    border: none;
    padding: 1%;
  }

  .card-block {
    padding: 1%;
  }

  .search-form {
margin: 2%;
  }



.acc {
  margin: 90px 0;
  overflow: hidden;
  padding: 0;
}

.acc li {
  list-style-type: none;
  padding: 0;
}

.acc_ctrl {
  background: #FFFFFF;
  border: none;
  border-bottom: solid 1px #F2F2F2;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 2em;
  position: relative;
  text-align: center;
  width: 100%;
}

.acc_ctrl:before {
  background: #44596B;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 14px;
}

.acc_ctrl:after {
  background: #44596B;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}

.acc_ctrl.active:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.acc_ctrl.active h2, .acc_ctrl:focus h2 {
  position: relative;
}

.acc_panel {
  background: #F2F2F2;
  display: none;
  overflow: hidden;
}
