* {
    margin: 0;
    padding: 0;
}

main {

min-height: 900px;

}

/** FORM **/

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.card-def {
    width: 400px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px
}


  input[type='checkbox'] {
    display: none;
  }
  
  /* Flip Cards CSS */

  .container-def {
      display: flex;
      flex-direction: row;
    
  }

  .card-container {
    display: flex;
    perspective: 700px;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    border: solid lightgray 1px;
    border-radius: 5%;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }
  
  input[type='checkbox']:checked + .card-container .card-flip {
    transform: rotateY(180deg);
  }
  
 