{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block content %}
<hr>

<h1> Cette page n'a pas été trouvée ! </h1>

<hr>

<a href="{{path('home')}}"> retour <a/>

{% endblock %}
